[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
feedgen = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}

[requires]
python_version = "3.11"
